<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add ke1="Login" value="http://localhost:8000/api/login"/>
		<add key2="Register" value="http://localhost:8000/api/register"/>
		<add key="endpointUrl" value="http://localhost:8000/api/user"/>
	</appSettings>
</configuration>